* {
    padding: 0;
    margin: 0;
}

.resultsPage {
    width: 80%;
    margin: 1em auto;
}

h3 {
    text-align: left;
    margin-left: 1em;
}

.resultsContainer {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

button {
    padding: 1em 2em;
}